<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Fecha fin:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Fecha real de fin:</strong>
  <%= @task.real_deadline %>
</p>

<p>
  <strong>Complejidad:</strong>
  <%= @task.complexity %>
</p>

<p>
  <strong>Puntaje:</strong>
  <%= @task.score %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @task.project %>
</p>

# <%= link_to 'Editar', edit_task_path(@task) %> |
# <%= link_to 'Atras', tasks_path %>
