<%= link_to 'Atras',project_tasks_path(@project,@tasks), class: 'btn btn-default' %> |
<%= link_to 'Nuevo Impedimento',new_project_task_inpairment_path, class: 'btn btn-default' %>
<hr>
<div class="panel-heading">
  <h5><%= @inpairments.count %> Observaciones/Impedimentos para <%= link_to(@task.description, @tasks)%></h5>
 </div>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Descripcion</th>
    </tr>
  </thead>

  <tbody>
    <% @inpairments.each do |inpairment| %>
      <tr>
        <td><%= inpairment.description %></td>
        <td><%=format_Inpairment(inpairment) %></td>

        <td><%= link_to 'Editar', edit_project_task_inpairment_path(@project,@task,inpairment), class: 'btn btn-default btn-sm' %></td>
        <td><%= link_to 'Eliminar', project_task_inpairment_path(@project,@task,inpairment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>